/*=== Import ======*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,700&display=swap");
/*===== ======== Root ====== ================== ========= */
:root {
  --header-height: 3rem;
  --clr-black: #000;
  --clr-white: #fff;
  --clr-mdb1: #0d253f;
  --clr-mdb2: #01b4e4;
  --clr-mdb3: #90cea1;
  --clr-new1: #172632;
  --clr-newTwo: #f2f5f5;
  --light-color: #fff;
  --light-color-alt: #afb6cd;
  --primary-background-color: #131417;
  --secondary-background-color: #252830;
  --hover-light-color: var(--light-color);
  --hover-dark-color: var(--primary-background-color);
  --gradient-color: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  --font-family: "Montserrat", sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: 0.938rem;
  --tiny-font-size: 0.625rem;
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
  --gap: 2rem;
  --margin-sm: 2rem;
  --margin-md: 3rem;
  --item-min-height-sm: 20rem;
  --item-min-height-md: 30rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

/*=General Project=*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
p,
span {
  letter-spacing: 0.1rem;
}
img {
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  width: 100%;
  background: #fff;
  font-family: var(--font-family);
  transition: 0.3s ease all;
}
/*=Mode Dark=*/
.dark {
  background: #131417;
}
/*===== ======== Landing Page Sunny Side ====== ================== ========= */
.banner {
  width: 100vw;
  background-color: var(--clr-mdb2);
  height: 80vh;
  min-height: 600px;
  background-image: url("../assets/images/image-header.jpg");
  background-position: center bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.menu {
  width: 450px;
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  align-items: center;
}
.menu .menu__list {
  display: flex;
  width: 225px;
  justify-content: space-between;
  align-items: center;
}
.menu__list .list-link {
  color: #f2f5f5;
  font-size: 1.6rem;
  font-weight: 500;
  filter: opacity(0.5);
}
.menu__list .list-link:hover {
  color: #fff;
  font-weight: 700;
}
.list-link:hover::after {
  content: " ";
  display: flex;
  border: 1px solid #fff;
  border-radius: 1rem;
  width: 100%;
  margin-top: 1rem;
  animation: scaleLink 0.3s 0.3s ease-in-out forwards;
}
@keyframes scaleLink {
  form {
    transform: scaleX(-100%);
  }
  to {
    transform: scaleX(50%);
  }
}
.menu .contact {
  padding: 1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #f2f5f5;
  color: #131417;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
.light .switch {
  font-size: 2rem;
  cursor: pointer;
}
.switch:active {
  transform: scale(0.9);
}
.contact:hover {
  color: antiquewhite;
  background-color: #000;
}
/*== Main ==*/
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.main .text {
  font-size: 7rem;
  font-weight: 600;
  color: #fff;
}
.main .arrow {
  margin-top: 10rem;
  animation: topArrow 1s 1s ease-in-out infinite;
}
@keyframes topArrow {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0px);
  }
}

/*== Section ==*/
.section1,
.section2 {
  display: flex;
  height: 350px;
}
.section1,
.left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section1 .text-container {
  /*  width: 70%; */
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  padding: 1rem;
}
.text-container h1 {
  font-size: 4rem;
  font-weight: 700;
  padding: 1rem;
  margin-left: 1rem;
}
.text-container p {
  font-size: 1.4rem;
  padding: 1rem;
  font-weight: 400;
  margin-left: 1rem;
}
.btn {
  margin: 1rem 0;
  padding: 1rem;
  margin-left: 1rem;
}
body.dark h1 {
  color: #fff;
}
body.dark p {
  color: #fff;
  filter: opacity(0.5);
}
body.dark .btn {
  background: #fff;
  border-radius: 1rem;
}

.section2,
.left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left.two {
}
.right {
  padding: 1rem;
}
.right.plus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.right h1 {
  font-size: 35px;
  margin-bottom: 2rem;
  margin-left: 1rem;
}
.right p {
  font-size: 1.5rem;
  margin-left: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
.right-img {
  width: 350px;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  border-radius: 2rem;
}
.left-img {
  width: 350px;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  border-radius: 2rem;
  margin-left: 1rem;
}
.btn.two {
  /*  outline: 2px solid #131417; */
}
.section3,
.left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-three {
  width: 40rem;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}
.left-on {
  width: 40rem;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}
/*=Client Section=*/
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f5f5;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
body.dark .testimonials {
  background: #111111;
}
.testimonials .title-testimonial {
  color: #a0a1a2;
  font-size: 2rem;
  margin-bottom: 4rem;
}
.clients {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 3rem;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
}
.clients .client {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  align-items: center;
}
body.dark .client {
  padding: 1.5rem;
  border-radius: 2rem;
  background: rgba(238, 235, 235, 0.452);
  box-shadow: 0 8px 20px 0 rgba(226, 227, 238, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  outline: 1px solid rgba(255, 255, 255, 0.18);
}
.client .client__image {
  margin-bottom: 3rem;
}
.client__image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
}
.client .client-text {
  text-align: center;
  margin-bottom: 3rem;
  color: #848391;
  line-height: 1.8;
}
body.dark .client-text {
  color: #111;
  font-weight: 700;
}
.client .details {
  text-align: center;
}
.details h2 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.details h4 {
  font-size: 0.8rem;
  color: #a0a1a2;
}
.client__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}
/*Example*/
.example {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  gap: 1rem;
}
.example div {
  /*  flex: 0.25; */
  padding: 0.5rem;
}
.example img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  border: none;
}
/*Footer*/
.footer {
  background-color: #90d4c5;
  width: 100%;
  padding: 2rem;
  margin-top: 2rem;
}
.footer .footer-logo {
}
.footer__navigation {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin: 1rem auto;
}
.footer__navigation span {
  color: #5e8b82;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}
.footer__navigation span:hover {
  color: #f2f5f5;
  filter: opacity(0.5);
}
.social__media {
  display: flex;
  justify-content: center;
}
.social__media .list {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 1rem auto;
}
.list .social-link {
  padding: 1.5rem;
  cursor: pointer;
}
.social-link:hover {
  color: #f2f5f5;
  opacity: 0.5;
}
.social-link:active {
  transform: scale(0.9);
}
/*== === ============ ==== > Media Queries < ========= ==== ================*/
@media (max-width: 575.98px) {
  .header {
  }
  .banner {
  }
  .menu {
    display: none;
  }
  .menu__list {
    display: none;
  }
  .main .text {
    margin-bottom: 5rem;
    font-size: 5rem;
  }
  .section1 {
    flex-direction: column;
    height: auto;
  }
  .section1 .left {
    padding-bottom: 2rem;
    padding-top: 2rem;
    flex-direction: column;
    width: 100%;
  }
  .text-container {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .text-container h1 {
    font-size: 3rem;
    font-weight: 900;
  }
  .text {
    text-align: center;
  }
  .btn {
    width: 100%;
  }
  /*section 2*/
  .section2 {
    flex-direction: column;
    height: auto;
    margin-top: 2rem;
  }
  .left.two {
    flex-direction: column;
  }
  .right {
    padding: 2rem;
  }
  .right.plus {
    text-align: center;
  }
  .right.plus h1 {
    width: 100%;
  }
  .right-img {
    width: 100%;
    height: 300px;
  }
  .btn.two {
    outline: none;
  }
  /*Section 03*/
  .left.three {
    flex-direction: column;
  }
  .client {
    padding: 2rem;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    outline: 1px solid rgba(255, 255, 255, 0.18);
  }

  /*Footer*/
  .footer {
    background-color: #90d4c5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer .footer-logo {
    width: 200px;
  }
  .footer__navigation {
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 250px;
  }
  .footer__navigation .social-link {
    padding: 1rem;
  }
}
@media (max-width: 365px) {
  .right-img {
    width: 250px;
  }
  .left-img {
    width: 250px;
  }
  .left-three {
    width: 250px;
  }
  .left-on {
    width: 250px;
  }
}
